---
import "../styles/global.css";
import FullPage from "../layouts/FullPage.astro";
---

<FullPage>
  <div
    class="h-fit bg-white py-10 px-10 border border-gray-200 dark:border-gray-700 rounded-md"
  >
    <div class="flex flex-col justify-center items-center gap-4">
      <div class="text-4xl">Page Not Found</div>
      <span>🥲</span>
      <a
        href="/"
        class="p-4 border border-gray-200 dark:border-gray-700 rounded-md hover:bg-gray-100"
        >Go to Home</a
      >
    </div>
  </div>
</FullPage>
