---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import HeroSection from "../components/HeroSection.astro";
---

<Layout>
  <Header />

  <div class="container">
    <HeroSection />


    <!-- My Portfolio - header - dark mode

    <li>Home</li>
    - landing/hero section - main stack ใช้ stack อะไรเป็นหลัก / skills - worked
    with ทำงานร่วมกับ บริษัทอะไรบ้าง
    <li>Projects</li>
    <li>Resume</li>
    <li>About me</li> -->
  </div>

  <Footer />
</Layout>
