---
const { path, alt, link } = Astro.props;
---

<a
    href={link}
    target="_blank"
    class="w-20 h-20 border border-gray-100 rounded-xl bg-white p-3 flex items-center"
>
    <img src={path} alt={alt} class="w-full rounded-md" />
</a>
